
.h_title {
  font-size : 12px;
  color: gray;
}

.text-title {
  font-weight : bold;
  font-size : 30px;
  color : #444444;
  color : rgb(68, 68, 68);
}

.text-title-counter {
  font-weight : bold;
  font-size : 40px;
  color : #ffcc00;
}