/* home */
#video-home {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.hide-desktop {
  display: none;
}

.hide-mobile {
  display: flex;
}

.flex-button-guide {
  position: absolute; 
  margin-top: 352px; 
  left: 30%;
  z-index: 10;
}
.flex-dialogusIma {
  position: absolute; 
  margin-top: 352px; 
  left: 46%;
  z-index: 10;
}

.boton-prueba {
  background:#0098a5;
  color: #fff;
  border-radius: 12px;
  font-size: 19px;
  border: 2px solid #0098a5;
  padding: 2px 15px;
  font-weight: 500;
}
.boton-prueba:hover{
  background: #fff;
  color: #0098a5;
  border-radius: 12px; 
  border: 2px solid #0098a5;
}

.viewport-header {
  position: relative;
  height: 55vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-header {
  padding: 44px;
}

.top-position2 {
  margin-top: -81px;
}
.video_btn {
  background: #0098a5 !important;
}
/* home*/

.cuadrado2 {
  background: #35547c;
  background: rgba(63, 84, 121, 1);
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;

  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=7, OffY=7, Color='#000000');
  height: 100%;
  margin-top: -30px;
  width: 80%;
  margin-left: 10%;
}

.telef {
  max-width: 14%;
  height: 33px;
  vertical-align: top;
  margin-left: 46%;
}
.message-contacto {
  max-width: 100%;
  height: 33px;
  vertical-align: top;
  margin-left: 44%;
}
/*APARTADO DE QUE ES DIALOGUS */
.animate__animated.animate__fadeInLeft {
  --animate-duration: 3s;
}
.animate__animated.animate__fadeIn {
  --animate-duration: 5s;
}
.lineaHederIzqui{
  position: absolute;
  margin-left: 48%;
  margin-top: 2%;
  height: 284%;
}
.lineaHederDerec{
  position: absolute;
  margin-left: 108%;
  margin-top: 2%;
  height: 188%;
  transform: scaleX(-1);
}
.lineCortaHome{
  display: none;
}
.lineLargaHome{
  display: none;
}

.textoHederHome{
  font-weight: 500;
  text-align: left !important;
  padding: 1%;
  margin-top: -2%
}
.textoHederHome2{
  font-weight: 500;
  text-align: right !important;
  padding: 1%;
  margin-top: -2%
}
.paddinDialogus{
  padding: 4% !important;
}
.verticalLineHome {
  border-left: thick solid #35547c;
}


/*APARTADO DE QUE ES DIALOGUS */

.form-control1 {
  min-height: 54px;
  border-radius: 12px !important;
}

/*apartado de servicios*/
.alignImagDivis{
  margin-top: -98px;
  margin-left: 2px;
}
.icon-divisiones {
  max-width: 100%;
  height: 127px;
  vertical-align: top;
  width: 472px;
}

/*apartado de nosotros*/
.icon-about {
  max-width: 100%;
  height: 180px;
  vertical-align: top; 
  width: 472px;
}

/*apartado de nosotros*/
.icon-testimonios {
  max-width: 100%;
  height: 120px;
  vertical-align: top;
  width: 100px;
  position: absolute;
}
.icon-testimonios-mobile {
  max-width: 100%;
  height: 110px;
  width: 110px;
  vertical-align: top;
  position: absolute;
}

/*apartado de servicios*/
.icon-service {
  max-width: 100%;
  vertical-align: top;
  width: 472px;
}

/*APARTADO DE SERVICIOS*/
.carousel-3d-slide {
  border-radius: 20px !important;
}
/*HEXAGONO PAGINA*/
.img-hexPagina{
    max-width: 204px;
    height: auto;
    vertical-align: top;
    position: absolute;
    margin-top: -157px ;
    margin-left: -66px;
}
.img-hexPagina-carrusel {
  max-width: 220px;
  height: auto;
  vertical-align: top;
  position: absolute;
  margin-top: -121px;
  margin-left: -102px;
}
.img-hexPagina-contac {
  max-width: 246px;
  height: auto;
  vertical-align: top;
  position: absolute;
  margin-top: -207px;
  margin-left: 1465px;;
}
/*HEXAGONO END*/
.section-carousel {
  .next[data-v-05517ad0] {
    right: 10% !important;
  }

  .prev[data-v-05517ad0] {
    left: 10%;
  }
  .next[data-v-05517ad0], .prev[data-v-05517ad0] {
    color: rgb(104, 103, 103) !important;
  }
}

#banner {
  background-image: url("../animacion-cor.mp4");
}

.fade-in-image {
  animation: fadeIn 6s;
  -webkit-animation: fadeIn 6s;
  -moz-animation: fadeIn 6s;
  -o-animation: fadeIn 6s;
  -ms-animation: fadeIn 6s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  color: #fff;
}
.flechaCarus {
  width: 100px;
}

.box-custom {
  background: rgb(59, 84, 123);
  cursor: pointer;
  height: auto;
  line-height: auto;
  text-align: center;
  transition: clip-path 1s;
  clip-path: polygon(0% 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0 100%);
}

/* STYLOS DEL CARRUSEL*/
  .con
  .prev{
    left:324px !important;
  }

.custom-icon {
  font-size: 20px;
  font-weight: bold;
}
.card-style4 {
  transition: all 0.3s ease;
  position: relative;
  text-align: left;
  border: 0px solid #f9f9f9 !important;
  height: 100%;
}
.card-style4 .date-wrapper {
  background: rgb(255, 212, 31) !important;
}
.card-style4 .card-body:before {
  position: absolute;
  content: "";
  background-color: rgb(59, 84, 123) !important;
  height: 4px;
  width: 100%;
  top: 0;
  left: 0;
  transition: 0.5s ease;
}
.card-style4 .card-body {
  padding: 40px 30px;
  position: relative;
  background: #35547c !important;
}
.card-style4 .card-body .date {
  color: #35547c !important;
}
.card-style4 .card-body .month {
  color: #35547c !important;
}

/* STYLOS DEL CARRUSEL*/

.box-custom:hover {
  background: rgb(255, 212, 31);
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
.hr2 {
  color: white;
  border: 1px solid;
  opacity: 0.35;
  top: 170px;
  left: 0;
  position: absolute;
  width: 100%;
}
.card-style4 .card-img:before {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 8;
  opacity: 0;
  transform: perspective(400px) rotateX(-90deg);
  transform-origin: top;
  transition: all 0.5s;
  background: rgba(255, 255, 255, 0) !important;
}
.h5 a {
  color: white !important;
}
/*+++++++++++++++++++++++++++carrusel++++++++++++++++++++++++++*/
.section-heading:before {
  position: absolute;
  content: "";
  width: 40px;
  height: 3px;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  background: #ffc107 !important;
  z-index: 1;
}
.section-heading .dotted-box .dotted {
  position: absolute;
  left: 50%;
  margin-left: 25px;
  width: 3px;
  height: 3px;
  bottom: 0px;
  background: #ffc107 !important;
  z-index: 1;
}
.image-tamaño {
  height: 255px;
}

.tamañoNosotros {
  height: 310px;
}

.tamañoEventos {
  height: 260px;
}

.imagenCarruse {
  width: 80%;
}
.color_35 {
  color: #0098a5 !important;
  text-align: left;
}

.color_34 {
  color: #0098a5 !important;
}
.color_33 {
  color: #35547c !important;
}

.v--vtt-test,
.v--vtt-test_odd {
  will-change: transform, opacity;
  transition: opacity 0.3s ease-in-out, transform 1s ease-in-out;
}

.v--vtt-test_visible,
.v--vtt-test_odd_visible {
  opacity: 1;
  transform: translateY(0);
}

.v--vtt-test_hidden {
  opacity: 0;
  transform: translateY(20px);
}

.v--vtt-test_odd_hidden {
  opacity: 0;
  transform: translateY(-20px);
}

/*ESTILOS DEL BOTON*/
.butn {
  background: #0098a5 !important;
  color: rgb(255, 255, 255) ;
  font-size: 12px;
}
.text-white {
  font-weight: 500 !important;
}

.card-description-carousel {
  color: white;
}

button > .text-white {
  font-weight: 500 !important;
  color: #0098a5;
}

.btn-circle {
  width: 100% !important;
  height: 30px !important;
  text-align: center !important;
  padding: 6px 0 !important;
  font-size: 12px !important;
  line-height: 1.428571429 !important;
  border-radius: 15px !important;
  background: #0098a5 !important;
  font-size: 18px;
  font-weight: 500;
  border: 2px solid #0098a5
}
  .butn:hover span, .butn:hover i {
  color: #0098a5 !important; 
}

  .btn-color-button:hover{
    .text-button {
      color: #0098a5 ;
      word-wrap: break-word;

    }
  }
  .btn-width-contact:hover{
    border-radius: 15px !important;
    background: #ffffff !important;
    border: 2px solid #0098a5 !important; 
    .text-button {
      color: #0098a5 ;
      word-wrap: break-word;
    }
  }

.btn-circle:hover{
  background: #ffff !important;
  border: 2px solid #0098a5 !important; 
  color:rgb(252, 0, 0);
}
.butn:hover:after,
.butn:active:after,
.butn:focus:after {
  background: #ffff !important;
  border: 2px solid #0098a5;
  opacity: 1;
  transform: scaleY(1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);

  width: 100%;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
/*ESTILOS DEL BOTON*/

.bg-divisions {
  border-radius: 11px;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  background-color: #e8eaea;
}
.bg-line {
  background: #e8eaea;
  background: rgba(232, 234, 234, 1);
  border-radius: 11px;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  width: 1000px;
}

/*CONTACTO (HOME)*/
.bg-contact {
  background: #e8eaea;
  background: rgba(232, 234, 234, 1);
  border-radius: 11px;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  height: 570px;
  width: 1318px;
}
.contacCuadro
{
  background : #00f8f8;
  background : rgb(255, 255, 0);
  border-radius : 29px;
  -moz-border-radius : 29px;
  -webkit-border-radius : 29px;
}

.title-contact{
  background: #e8eaea;
  background: #35547c;
  border-radius: 11px;
  margin-left: -20px;
  width: 1320px;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px 
}
.text-contac-cuadro{
  background: #e8eaea;
  background: rgba(232, 234, 234, 1);
  border-radius: 0px;
  margin-left: -20px;
  width: 1320px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 10px 
}
.text-contact{
  font-size: 25px;
  font-weight: 500;
}
.text-cuadrado2{
  word-wrap: break-word;
  color: white;
  font-weight: 500;
}

/*END*/

.text-button{
  word-wrap: break-word;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.bg-about {
  background: #ffffff;
  border-radius: 11px;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
}

.bg-counter {
  background: #35547c;
  border-radius: 11px;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
}

.bg-testimonios {
  background: #e8eaea;
  border-radius: 11px;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.hr-border-divisiones {
  border-style: Solid;
  border-color: #3f5479;
  border-color: rgba(63, 84, 121, 1);
  background-color: #3f5479;
  border-width: 1px;
}

.hr-border-about {
  border-style: Solid;
  border-color: #3f5479;
  border-color: rgba(63, 84, 121, 1);
  background-color: #3f5479;
  border-width: 1px;
}


.hr-header {
  border-style: Solid;
  border-color: rgb(255, 212, 31);
  background-color: rgb(255, 212, 31);
  border-width: 3px;
  width: 10%;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.hr-headerresponsive {
  border-style: Solid;
  border-color: rgb(255, 212, 31);
  background-color: rgb(255, 212, 31);
  border-width: 3px;
  width: 20%;
  margin-left: 40%;
}

.bg-card {
  padding: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-grow: 1;
  flex-basis: 0;
}

.bg-card-about {
  background: #e8eaea;
  border-radius: 100px;
  padding: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-grow: 1;
  flex-basis: 0;
}
.bg-card-footer {
  background: #5B5D5E ;
  border-radius: 100px;
  padding: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  flex-grow: 1;
  flex-basis: 0;
}
.bg-card-footer1 {
  background: #5B5D5E ;
  border-radius: 100px;
  padding: 30px;
  margin-left: 40px;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  flex-grow: 1;
  flex-basis: 0;
}

.bg-card-counter {
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-grow: 1;
  flex-basis: 0;
}

.bg-card-testimonios {
  background: #ffffff;
  border-radius: 40px;
  margin-left:10px;
  margin-right: 10px;
  padding: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-grow: 1;
  flex-basis: 0;
}

.bg-card-testimonios-mobile {
  background: #ffffff;
  border-radius: 40px;
  margin-left:10px;
  margin-right: 10px;
  padding: 30px;
  margin-top: 40px;
  margin-bottom: 10px;
  flex-grow: 1;
  flex-basis: 0;
}
.bg-card:hover {
  background: #3f5479;
  background: rgba(63, 84, 121, 1);
  border-radius: 18px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  color: rgb(252, 0, 0) !important;

  .h5 {
    color: #ffffff !important;
  }
  .hr-border-divisiones {
    border-color: white;
    background-color: white;
  }

  .text-title {
    color: white;
  }
}

.bg-card-about:hover {
  background: #35547c;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  color: rgb(252, 0, 0) !important;

  .h5 {
    color: #ffffff !important;
  }
  .hr-border-about {
    border-color: white;
    background-color: white;
  }

  .text-title {
    color: white;
  }
}

.calendly-custom {
  background-color: white;
  padding: 3px !important;
  border-radius: 21px;
}

.btn-width-contact {
  width: 37% !important;
  padding: unset !important;
  border-radius: 15px !important;
  background: #0098a5 !important;
  border: 2px solid #0098a5 !important;

  .text-button {
    font-size: 18px;
    font-weight: 500;
  }
}

.button-divisiones {
  border-radius: 15px;
  background: #0098a5;
  cursor: pointer;
  padding: 0px 13px;
  width: 100%;
  border: 2px solid #0098a5;
  text-align: center;

  .text-button {
    font-size: 18px;
    font-weight: 500;
  }
}

.button-divisiones:hover {
  background: white; 
  color:#0098a5 !important;
  border: 2px solid #0098a5 !important;
  .text-button {
    color:#0098a5 !important;
  }
}
.button-register {
  border-radius: 15px;
  border: 2px solid #0098a5;
  background: #0098a5;
  cursor: pointer;
  padding: 0px 13px;

  .text-button {
    font-size: 18px;
    font-weight: 500;
  }
}

.button-register:hover {
  background: white; 
  color:#0098a5 !important;
  border: 2px solid #0098a5;
  .text-button {
    color:#0098a5 !important;
  }
}


#page-region {
  display: none;
}

/*HEXAGONO POSITION*/
@media (max-width:1825px) {
  .img-hexPagina-contac {
    margin-left: 1313px;
  }
}
@media (max-width:1642px) {
  .img-hexPagina-contac {
    margin-left: 1313px;
  }
}
@media (max-width:1486px) {
  .img-hexPagina-contac {
    margin-left: 1303px;
    margin-top: -115px;
  } 

  #video-home {
    object-fit: fill;
  }
  .lineaHederIzqui {
    margin-left: 53%;
    height: 257%;
  }
}
@media (max-width:1484px) {
  .lineaHederIzqui {
    margin-left: 60%;
    height: 258%;
  }
}
@media (max-width:1477px) {
  .lineaHederIzqui {
    margin-left: 78%;
  }
  .lineaHederDerec {
    margin-left: 104%;
  }
}
@media (max-width:1399px){
  .lineaHederIzqui {
    margin-left: 74%;
  }
  .lineaHederDerec {
    margin-top: 3%;
    margin-left: 101%;
    height: 174%;
  }
  .img-hexPagina-contac{
    margin-left: 1160px;
    margin-top: -185px;
  }
  .email-text{
    font-size: 15px;
  }
}
@media (max-width:1352px){
  .lineaHederIzqui {
    margin-left: 79%;
    height: 207%;
    margin-top: 3%;
  }
  .lineaHederDerec {
    margin-top: 0%;
    margin-left: 98%;
    height: 129%;
  }
}
@media (max-width: 1328px){
  .lineaHederIzqui {
    margin-left: 81%;
    height: 206%;
  }
  .lineaHederDerec {
    margin-left: 96%;
  }
  .img-hexPagina-contac{
    margin-left: 1159px;
    margin-top: -96px;
  }
}
  @media (max-width:1290px){
    .lineaHederIzqui {
      margin-left: 82%;
      height: 163%;
      margin-top: 9%;
    }
    .lineaHederDerec {
      margin-left: 101%;
      height: 108%;
      margin-top: 4%;
    }
    .img-hexPagina-contac{
      margin-left: 1159px;
      margin-top: -96px;
    }
    .img-hexPagina-contac{
      margin-left: 1142px;
      margin-top: -73px;
    }
  }
  @media (max-width: 1250px){
    .img-hexPagina-contac{
      margin-left: 1134px;
      margin-top: -29px;
    }
  }
  @media (max-width:1222px){
    .lineaHederIzqui {
      margin-left: 89%;
      height: 92%;
      margin-top: 4%;
    }
    .lineaHederDerec {
      margin-left: 102%;
      height: 132%;
      margin-top: 0%;
    }
  }
  @media (max-width:1177px){
    .lineaHederIzqui {
      margin-left: 88%;
      height: 112%;
      margin-top: 0%;
    }
    .lineaHederDerec {
      margin-left: 135%;
    height: 162%;
    margin-top: 9%;
    }
  }
  @media (max-width: 1100px){
    .lineaHederDerec {
      margin-left: 125%;
      height: 117%;
      margin-top: 9%;
    }
    .img-hexPagina-contac{
      margin-top: -105px;
    }
  }
  @media (max-width: 1050px){
    .lineaHederIzqui {
      margin-left: 71%;
      height: 112%;
      margin-top: 10%;
    }
    .img-hexPagina-contac{
      margin-top: -67px;
      margin-left: 931px;
    }
  }
  @media (max-width: 1000px){
    .img-hexPagina-contac{
      margin-top: -11px;
      margin-left: 920px;
    }
  }
@media (max-width: 1199px) {
  .img-hexPagina-carrusel{
    margin-top: -97px;
  }
}
@media (max-width: 994px) {

  .img-hexPagina-carrusel{
    display: none;
  }
  .hide-mobile {
    display: none;
  }
  .hide-desktop {
    display: flex;
  }
  .img-hexPagina {
    max-width: 156px;
    margin-top: -96px;
    margin-left: -72px;
  }
}
@media (max-width: 550px) {

  #video-home {
    object-fit: contain;
  }

  .section-header {
    height: 550px;
  }

  .hr-border-divisiones{
    width: 90%;
    margin-left: 5%;
  }
  .hr-border-about{
    width: 90%;
    margin-left: 5%;
  }
  .button-divisiones {
    width: 50%;
  }

  .img-hexPagina-carrusel{
    display: none;
  }
  .img-hexPagina {
   display: none;
  }
}

/*HEXAGONO POSITION END*/

/*carusel*/
@media (max-width: 1060px) {
 .section-carousel {
  .next[data-v-05517ad0] {
    display: none;
  }

  .prev[data-v-05517ad0] {
    display: none;
  }
} 
}
/*carusel*/
@media only screen and (max-width: 1399px) {
  .text-title {
    font-size: 25px;
  }

  .text-body {
    font-size: 18px !important;
  }
}

@media only screen and (max-width: 1200px) {
  .text-title {
    font-size: 20px;
  }

  .text-body {
    font-size: 18px !important;
  }
}

@media only screen and (max-width: 991px) {
  .text-title {
    font-size: 17.6px;
  }

  .text-body {
    font-size: 18px !important;
  }

  .bg-card {
    padding: 10px;
  }
}

@media only screen and (max-width: 767px) {
  

  .text-title {
    font-size: 13.4px;
  }

  .text-body {
    font-size: 12px !important;
  }
  .button-divisiones{
    padding: 0px 11px;
    font-size: 12px;
  }

  .bg-card {
    padding: 5px;
  }

  button > .text-white {
    font-size: 15px;
    font-weight: 500;
  }
}
@media only screen and (max-width: 550px) {
  .text-title {
    font-size: 25px;
  }

  .text-body {
    font-size: 20px !important;
  }
  .flex-mobile {
    flex-direction: column;
  }
  .alignImag {
    margin-top: 0px !important;
    margin-left: 23px !important;
  }
  .alignImag2 {
    margin-top: 17px !important;
    margin-left: 23px !important;
  }
  .alignImag3 {
    margin-top: 0px !important;
    margin-left: 0px !important;
  }
  .alignImag4 {
    margin-top: -90px !important;
    margin-left: 0px !important;
  }
}
@media (max-width: 527px){
  .boton-prueba{
    margin-top: 75%;
  }
}
  /*contacto parte home*/
  @media (max-width: 1399px){
    .title-contact{
      width: 1170px;
    }
    .text-contac-cuadro{
      width: 1170px;
    }
  }
  
  @media (max-width: 1199px){
    .bg-contact{
      height: 558px;
      width: 958px;
    }
    .text-cuadrado2{
      font-size: 11.5px;
    }
    .title-contact{
      width: 958px;
    }
    .text-contac-cuadro{
      width: 958px;
    }

    .text-button{
      word-wrap: break-word;
    }
  }
  @media (max-width: 991px){
    .lineaHederDerec{
      display: none;
    }
    .lineaHederIzqui{
      display: none;
    }
    .boton-prueba{
      margin-top: 108%;
    }
    .viewport-header {
      height: 64vh;
    }
    .lineCortaHome{
      display: block;
      position: absolute;
      margin-top: 18%;
      margin-left: -18%;
      height: 28%;
    } 
    .fa-angle-double-left{
      display: none;
    }
    .fa-angle-double-right{
      display: block;
    }
    .textoHederHome2{
      text-align: left !important;
    }
    .lineLargaHome{
      display: block;
      position: absolute;
      margin-top: 18%;
      margin-left: -24%;
      height: 50%;
    } 
    .w-texto-header-home{
      width: 50% !important;
      align-self: flex-end;
    }
    .bg-contact{
      height: 558px;
      width: 719px;
    }
    .text-cuadrado2{
      font-size:15px
    }
    .title-contact{
      width: 720px;
      margin-left: -12px;
    }
    .text-contac-cuadro{
      width: 717px;
    }
    .text-contact{
      font-size: 21px;
    }
    .text-cuadrado2{
      word-wrap: break-word;
    }
  }
    .text-button{
      word-wrap: break-word;
    }
  @media (max-width: 820px){
    .lineCortaHome {
      margin-left: -20%;
      height: 24%;
    } 
    .lineLargaHome {
      height: 46%;
      margin-left: -28%;
    }
  .viewport-header {
    height: 66vh;
    }
    .boton-prueba{
      margin-top: 119%;
    }
  }
  @media (max-width: 767px){
    .lineCortaHome {
      margin-left: -18%;
      height: 22%;
    }
    .lineLargaHome {
      height: 43%;
    }
    .boton-prueba{
      margin-top: 94%;
    margin-left: -50%;
    }
    .text-button{
      word-wrap: break-word;
      font-size: 13.5px !important;
    }
    .bg-contact{
      height: 538px;
      width: 719px;
    }
    .cuadrado2{
    }
    .title-contact{
      width: 538px;
      margin-left: -12px;
    }
    .text-contac-cuadro{
      width: 538px;
    }
    .text-contact{
      font-size: 17px;
    }
    .text-cuadrado2{
      word-wrap: break-word;
    }
  }
  @media (max-width: 666px){
    .lineCortaHome {
      margin-left: -22%;
      height: 20%;
    }
    .lineLargaHome {
      height: 46%;
      margin-left: -36%;
    }
    .boton-prueba{
      margin-top: 61%;
    }
    .viewport-header {
      height: 75vh;
    }
  }
  @media (max-width: 575px){
    .text-button{
      word-wrap: break-word;
    }
    .bg-contact{
      height: 575px;
      width: 719px;
    }
    .title-contact{
      width: 575px;
      margin-left: -12px;
    }
    .text-contac-cuadro{
      width: 575px;
    }
    .text-contact{
      font-size: 17px;
    }
    .text-cuadrado2{
      word-wrap: break-word;
    }
    .email-text {
      word-wrap: break-word;
      font-size: 18px;
    }
    .btn-width-contact {
      width: 50% !important;
    }
  }
  @media (max-width: 570px){
    .text-button{
      word-wrap: break-word;
    }
    .bg-contact{
      height: 575px;
      width: 719px;
    }
    .title-contact{
      width: 570px;
      margin-left: -12px;
    }
    .text-contac-cuadro{
      width: 570px;
    }
    .text-contact{
      font-size: 17px;
    }
    .text-cuadrado2{
      word-wrap: break-word;
    }
  }
  @media (max-width: 560px){
    .title-contact{
      width: 560px;
      margin-left: -12px;
    }
    .text-contac-cuadro{
      width: 560px;
    }
  .bg-contact{
    height: 522px;
    width: 560px;
    }
  }
  @media (max-width: 550px){
    .lineCortaHome {
      margin-left: -27%;
      height: 22%;
    }
    .lineLargaHome {
      height: 56%;
      margin-top: 16.5%;
      margin-left: -40%;
      width: 39%;
    }
    .boton-prueba{
      margin-top: 144%;
    }
    .title-contact{
      width: 550px;
      margin-left: -12px;
    }
    .text-contac-cuadro{
      width: 550px;
    }
  .bg-contact{
    height: 522px;
    width: 550px;
    }
    .text-contact{
      font-size: 14px;
    }
    .email-text {
      word-wrap: break-word;
      font-size: 16px;
    }
  }
  @media (max-width: 540px){
    .lineCortaHome {
      margin-left: -27%;
      height: 22%;
    }
    .lineLargaHome {
      height: 55%;
      margin-top: 16.5%;
      margin-left: -40%;
      width: 39%;
    }
    .boton-prueba{
      margin-top: 144%;
    } 
    .viewport-header {
      height: 100vh;
    }
  }
  @media (max-width: 500px){
    .lineCortaHome {
      margin-left: -33%;
      height: 25%;
      margin-top: 18%;
    }
    .lineLargaHome {
      height: 61%;
      margin-top: 18%;
      margin-left: -40%;
      width: 39%;
    }
    .boton-prueba{
      margin-top: 144%;
    }
    .alignImag {
      margin-top: 0px !important;
      margin-left: 5px !important;
    }
    .alignImag2 {
      margin-top: 17px !important;
      margin-left: 5px !important;
    }
    .alignImag3 {
      margin-top: 0px !important;
      margin-left: 0px !important;
    }
    .alignImag4 {
      margin-top: -90px !important;
      margin-left: 0px !important;
    }
    .title-contact{
      width: 500px;
      margin-left: -12px;
    }
    .text-contac-cuadro{
      width: 500px;
    }
  .bg-contact{
    height: 522px;
    width: 500px;
    }
    .text-contact{
      font-size: 13px;
    }
    .text-button{
      word-wrap: break-word;
    }
  }
  @media (max-width: 494px){
    .w-texto-header-home{
      width: 100% !important;
      align-self: flex-end;
    }
    .lineCortaHome{
      display: none;
    }
    .lineLargaHome{
      display: none;
    }
    .spaceTextos{
      margin-top: 5%;
    }
    .boton-prueba{
      margin-top: 92%;
    }
  }
  @media (max-width: 491px){
    .title-contact{
      width: 491px;
      margin-left: -12px;
    }
    .text-contac-cuadro{
      width: 491px;
    }
  .bg-contact{
    height: 522px;
    width: 491px;
    }
    .text-contact{
      font-size: 12px;
    }
    .text-button{
      word-wrap: break-word;
    }
  }
  @media (max-width: 460px){
    .title-contact{
      width: 460px;
      margin-left: -12px;
    }
    .text-contac-cuadro{
      width: 460px;
    }
  .bg-contact{
    height: 522px;
    width: 460px;
    }
    .text-contact{
      font-size: 12px;
    }
    .text-button{
      word-wrap: break-word;
    }
  }
  @media (max-width: 451px){
    .title-contact{
      width: 451px;
      margin-left: -12px;
    }
    .text-contac-cuadro{
      width: 451px;
    }
  .bg-contact{
    height: 522px;
    width: 451px;
    }
    .text-contact{
      font-size: 11px;
    }
    .text-button{
      word-wrap: break-word;
    }
    .email-text {
      word-wrap: break-word;
      font-size: 13px;
    }
  }
  @media (max-width: 414px){
    .boton-prueba{
      margin-top: 66%;
      margin-left: -38%;
    }
  }
  @media (max-width: 411px){
    .boton-prueba{
      margin-top: 70%;
      margin-left: -38%
    }
  }
  @media (max-width: 375px){
    .viewport-header {
      height: 82vh;
    }
    .paddinDialogus {
      padding: 8% !important;
    }
    .boton-prueba{
      margin-top: 77%;
      margin-left: -38%;
    }
  }
  @media (max-width: 362px){
    .email-text {
      word-wrap: break-word;
      font-size: 11px;
    }
    .viewport-header {
      height: 85vh;
    }
  }
  @media (max-width: 340px) {
    .boton-prueba{
      font-size: 16px;
      margin-top: 116%;
      margin-left: -48%
    }
    .hr2{
      margin-top: 54px;
    }
  }
  @media (max-width: 320px){
    .email-text {
      word-wrap: break-word;
      font-size: 10.7px;
    }
    .hr2{
      margin-top: 54px;
    }
    .viewport-header {
      height: 115vh;
    }
    .boton-prueba{
      margin-top: 161%;
    }
  }
  /*   END   */

  /*carusel 3d controles*/
  @media (max-width: 887px){
    :controlsVisible{
      display:none;
    }
  }
  /*END*/

